$blocks-button__height: 46px;

.editor-visual-editor__block[data-type="core/button"] {
	&[data-align="center"] {
		text-align: center;
	}

	&[data-align="right"] {
		text-align: right;
	}
}

.wp-block-button {
	background-color: $blue-medium-400;
	border-radius: $blocks-button__height / 2;
	color: $white;
	cursor: default;
	display: inline-block;
	font-size: $big-font-size;
	height: $blocks-button__height;
	line-height: $blocks-button__height;
	margin: 0;
	padding: 0 24px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;

	.blocks-format-toolbar__link-modal {
		z-index: 2;
		top: $blocks-button__height + 2px;
		left: 50%;
		transform: translateX( -50% );
	}

	.blocks-link-url__suggestions {
		right: -35px;
	}

	.blocks-editable__tinymce {
		cursor: text;
	}
}
