$blocks-button__height: 46px;

.wp-block-button {
	font-size: $big-font-size;
	white-space: nowrap;

	a {
		background-color: $blue-medium-400;
		border-radius: $blocks-button__height / 2;
		box-shadow: none !important;
		color: $white !important;
		cursor: pointer;
		display: inline-block;
		height: $blocks-button__height;
		line-height: $blocks-button__height;
		padding: 0 24px;
		text-decoration: none !important;
	}

	&:hover,
	&:focus,
	&:active {
		color: $white !important;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}
